# Node junk
node_modules
.next
npm-debug.log

# Dev/IDE
.vscode
.idea
*.log

# Language servers or config
docker-language-server
.docker
.dockerignore
Dockerfile

# Git
.git
.gitignore

# Env
.env
.env.*
